#commands affecting the source code
container_commands:
  #01-composer-install:  #install php dependencies
  #  command: "composer install --no-dev --no-interaction --optimize-autoloader"
  #02-drop-database:     #drop database if already exists
  #  command: "php bin/console doctrine:database:drop --force --if-exists"
  03-create-database:   #create new database
    command: "php bin/console doctrine:database:create"
  04-create-schema:     #create database schema
    command: "php bin/console doctrine:schema:create"
  05-clear-cache:       #clear production cache
    command: "php bin/console cache:clear --env=prod --no-debug"