<footer id="footer" class="footer">  
	<div class="container">
		<div class="row">
			<div class="col-9">
				<h4 class="">About this web app</h4>
				<p>
					This very simple web application was built with <a href="https://symfony.com/">Simfony</a> 
					for demonstration purposes during a talk about <a href="https://aws.amazon.com">AWS</a>. 
					In its simplicity, it's a showcase on  modern php web app development, featuring other 
					interesting and widely-used technologies such as <a href="https://webpack.js.org/">Webpack</a>,
					<a href="https://sass-lang.com/">Sass</a>, <a href="https://www.doctrine-project.org/">Doctrine</a>. 
					It could be an excellent starter for people wanting to get familiar with
					these technologies.
				</p>
			</div>
			<div class="col-3">
				<h4 class="">Links</h4>
				<ul class="list-unstyled")>
					<li> <a href="{{ path('homepage') }}">Homepage</a>
					<li> <a href="{{ path('comments') }}">Comment page</a>
					<li> <a href="https://aws.amazon.com">AWS</a>
				</ul>
			</div>
		</div>
	</div>
    <div class="footer-bottom">
    	<p>
			Made with <span class="text-amzn-orange"><i class="fas fa-heart"></i></span> by <span class="text-amzn-orange">Luigi Libero Lucio Starace</span>.
    	</p>
    </div>
</footer>